Repository higherkindness/sbt-mu-srcgen, pull requests merged in 2020-04, with the labels that each got.

#5 Update actions, documentation templates and configuration files to v0.2.3
  .github/workflows/changelog.yml
  .github/workflows/docs.yml
  .github/workflows/scalasteward-auto-approve.yml
  .mergify.yml
Labels: auto-update

#6 Update actions, documentation templates and configuration files to v0.3.1
  .github/workflows/bot-prs-auto-approve.yml
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .mergify.yml
Labels: auto-update

#7 Update actions, documentation templates and configuration files to v0.3.2
  .mergify.yml
Labels: auto-update

#8 Update actions, documentation templates and configuration files to v0.3.3
  .github/workflows/changelog.yml
  .github/workflows/docs.yml
Labels: auto-update

#9 Update actions, documentation templates and configuration files to v0.4.0
  .github/workflows/bot-prs-auto-approve.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Labels: auto-update

#10 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#12 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#13 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#14 Update actions, documentation templates and configuration files to v0.4.1
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
Labels: auto-update

#15 Update documentation and other files
  AUTHORS.md
Labels: auto-documentation

#16 Update actions, documentation templates and configuration files to v0.5.0
  .github/labels.yml
  .github/release-drafter.yml
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .mergify.yml
Labels: auto-update

#18 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog
